* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

#nav-bar {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(148, 122, 122);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

#gg {
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}

.container {
  width: 90%;
  color: #000000;
  position: relative;
  text-align: center;
  line-height: 1.5;
}

#weekly-deals {
  height: 400px;
  padding: 1em;
  text-align: center;
  background-image: url(images/710564836ceea6d58b89aba3e0ab4d56--wooden-frames-old-mans.jpg);
}

#men {
  background-color: rgb(33, 119, 109);
  padding: 1em;
  text-align: center;
}

#women {
  background-color: rgb(194, 96, 96);
  padding: 1em;
  text-align: center;
}

#kids {
  background-color: rgb(70, 154, 193);
  padding: 1em;
  text-align: center;
}

#career {
  background-color: rgb(135, 38, 157);
  padding: 1em;
  text-align: center;
}

#about {
  background-color: rgb(210, 66, 93);
  padding: 1em;
  text-align: center;
}

#tips {
  background-color: rgb(161, 117, 159);
  padding: 1em;
  text-align: center;
}

p {
  font-family: sans-serif;
}

footer {
  padding: 1em;
  background-color: #777;
  text-align: center;
  font-family: sans-serif;
}
