* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

#nav-bar {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(148, 122, 122);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

#gg {
  width: 90%;
  color: #000000;
  text-align: center;
}

.container {
  width: 90%;
  color: #000000;
  position: relative;
  text-align: center;
}
